@import "tailwindcss";

:root {
  /* Base */
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;

  /* Brand */
  --primary: 356 96% 22%;
  --primary-foreground: 0 0% 100%;

  /* Neutral */
  --muted: 30 6% 43%;
  --muted-foreground: 0 0% 100%;

  /* UI */
  --border: 30 6% 43%;
  --ring: 356 96% 22%;
  --radius: 0.75rem;
}


/* Dark Mode */

.dark {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;

  --primary: 356 96% 32%;
  --primary-foreground: 0 0% 100%;

  --muted: 30 6% 53%;
  --muted-foreground: 0 0% 0%;

  --border: 30 6% 53%;
  --ring: 356 96% 32%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

:focus-visible {
  outline: 2px solid hsl(var(--ring));
  outline-offset: 2px;
}
